<div class="navbar">
               <div class="logo">
                    <img src="hlogo.png" alt="">
                    <p id="companyName">Swipe Store</p>
               </div>
               <div class="hamburger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
               </div>
               <div class="links">
                    <ul>
                         <li id="Home"><a href="http://localhost:6500/home">Home</a></li>
                         <li id="AboutUS"><a href="http://localhost:6500/about">About Us</a></li>
                         <li id="Cart"><a href="#Cart.html">Cart</a></li>
                         <li id="Profile"><a href="#Profile.html">Profile</a></li>
                    </ul>
</div>